/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6; 
    /* Davam na pevno max-width, protoze obrazky z galerie se mi nedari zvetsit */
    width: 405px; 
    margin: auto;
    border: solid 0.5px;
}

h2, p{
    padding: 15px;
}

/* HLAVICKA */

.hlavicka{
    margin:0;
    color: white;
    text-align: center;
    padding: 20px;
    background-image: url("images/island-hlavicka.jpg");
    background-size: cover; 
    background-position: center;  
}

.titulek{
    font-size: 1000;
    margin: 0;
    padding: 14px;
    font-family: 'Relaway', sans-serif;
}

.perex{
    padding-bottom: 30px;
}

.autor{
    color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    padding-bottom: 30px;
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    margin: 0;
    
}

.autor::before{
    content: '';
    border-top: 3px solid rgba(255, 255, 255, 0.7);
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 8px
}

/* MENU */
.menu{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Relaway', sans-serif;
    list-style: none;
    display: block;
    padding: 0;
}

.menu a{
    text-decoration: none;
    color: rgba(139, 139, 139, 0.712);
    font-size: 12px;
    display: block;
}

li{
    padding: 10px;
    border-bottom:  rgba(139, 139, 139, 0.712) solid 1px;
}


li:hover{
    background-color: rgba(139, 139, 139, 0.712);
}

a:hover{
    color: white;
}

/* OBSAH */
img{
    max-width: 100%;
}

.popisek{
    font-size: 12px;
    color:rgba(139, 139, 139, 0.712);
    margin-top: 0;
    text-align: center;
    padding: 0;
    font-family: 'Relaway', sans-serif;
}

.popisek a{
    color: rgba(139, 139, 139, 0.712);
}

h2{
    font-family: 'Relaway', sans-serif;
}

h2::after{
    border-bottom: solid rgb(114, 114, 238);
    display: block;
    content: '';
    width: 60px;
    padding: 10px;
}

/* FOTOGALERIE */
.foto{
    text-align: center;  
}
.foto .popisek{
    font-weight: 700;
}

.foto .popisek-copy{
    font-weight: normal;
}


/* PATICKA */
.paticka{
    font-size: 12px;
    color: rgba(139, 139, 139, 0.712);
    overflow: hidden;
    box-shadow: inset 0 15px 30px rgb(202, 200, 200);
    height: 120px;
}

.paticka a{
    color: rgba(139, 139, 139, 0.712);
}

@media (min-width: 500px){
    body{
        width: 802px;
    }

    /* MENU */   
    .menu{
        display: flex;
        flex-direction: row;
        padding: 10px 40px;  
        justify-content: space-between;
    }

    ul{
        margin: 0;
    }

    li{
        border-top: rgba(139, 139, 139, 0.712) solid 1px;
        display: block;      
        flex-grow: 2;
    }

    /* OBSAH */
    .popisek{
        position: relative;
        bottom: 30px;
        text-align: right;
        color: white;
        padding-right: 5px;
    }

    .popisek a{
        color: white;
    }


    /* FOTOGALERIE */
    .galerie{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .foto{
        height: 225px;
        overflow: hidden;
    }

    .galerie .popisek{
        opacity: 0;
    }
}

@media(min-width: 1000px){
    body{
       width: 1200px;
    }

    /* OBSAH */
    .hlavicka{
        height: 500px;    
    }

    h1{
        font-size: 58px;
    }

    .titulek{
        padding: 30px;
    }

    .autor{
        padding: 20px;
    }

    .perex{
        padding-bottom: 50px;
    }

    /* MENU */
    .menu{
        display: flex;
        flex-direction: column;
        width: 33.3%;
        float: left;
        text-align: left;
    }

    .uvod, .videt{
        padding-left: 320px;
    }

    .proc{
        padding-right: 320px;
    }

    li{
        border-top: none;
    }

    /* OBSAH */
    .obsah{
        width: 960px;
        background-color: white;
        margin: -80px auto;
        box-shadow: 0px 0px 5px 5px rgba(202, 201, 201,0.3);
    }

      /* FOTOGALERIE */
      .foto{
          width: 33.3%;
          height: 179.8px;
          position: relative;
      }

      .foto .popisek{
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          font-size: 10px;
          padding: 5px 0px;
      }
      .foto a{
          color: white;
      }

      .foto img{
          display: block;
      }

      .foto:hover .popisek{
          position: absolute;
          bottom: 0;
          transition: 0.5s ease-out;
          opacity: 1;
      }

      .foto:hover img{
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
    }

      .popisek{
          width: 100%;
          margin: 0;
          bottom: -100%;
          text-align: center;
      }

    /* PATICKA */
      .paticka{
        box-shadow: none;
        padding: 120px;
      }

}